/* Setting fade transition and default settings */
.content-container {
  display: flex;
}
.content-container > * {
  width: 50%;
}

.left-content {
  padding-right: 15px;
}

.right-content {
  height: 100vh;
  position: relative;
}

.right-content > * {
  position: absolute;
  right: -50%;
  top: 50%;
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  .right-content {
    display: none;
  }
  .left-content {
    padding-right: 15px;
  }
}
